body {
  justify-content: center;
}

.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}

.card {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
}

.color-box {
  width: 100px;
  height: 50px;
  margin: 10px auto;
  border-radius: 5px;
  border: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
